__pycache__/
*.pyc
dp2g
*.dat
lev*.dat

# container-built binaries
/br
/br2
/dp
/dp2
/dp2g
/bit
/bit3
*.o

*.bundle
*.tar.gz
paper/*.aux
paper/*.log
paper/*.out
paper/*.synctex.gz
paper/*.pdf
results/claims_d7/
